@import '../utility/variables';
.text-white {
    color: $white;
}
.text-light-gray {
    color: $light-gray;
}
.text-black {
    color: $black;
}
.text-dark-gray {
    color: $dark-gray;
}
.text-light-blue {
    color: $light-blue;
}
.text-sky-blue {
    color: $sky-blue;
}
.bg-gray {
    background-color: $gray;
}
*:focus {
    outline: none;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4rem;
    @include mobile() {
        font-size: 1.6rem;
        line-height: 2rem; 
    }
}
.btn-blue {
    background: #377DFF;
    color: white;
}