// ------------- flex helpers --------------- //


@mixin f-align-center($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
}
@mixin f-align-start($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: flex-start;
}
@mixin f-align-end($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: flex-end;
}
@mixin f-content-center($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
}
@mixin f-content-start($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: flex-start;
}
@mixin f-content-end($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: flex-end;
}
@mixin f-content-between($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-between;
}
