
@import '_variables';
@import '../layout/flex';

// mixin for media queries

@mixin  extra-large {
       @media (max-width: #{$extra-large-device-width}) {
        @content;
    } 
}
@mixin desktop {
    @media (max-width: #{$large-device-width}) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: #{$medium-device-width}) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: #{$small-device-width}) {
        @content;
    }
}
@mixin extra-small {
    @media (max-width: #{$extra-small-device-width}) {
        @content;
    }
}

