//-- base color --//
$white: #FFFFFF;
$light-gray: #AAB0B7;
$black: #333333;
$dark-gray:#858A8F;
$light-blue:#397EFF;
$sky-blue:#E5F1FF;
$gray: #F5F6FA;

//-- font-family --//

// ------------ Responsive Sizes --------------- //
$extra-large-device-width: 1366px;
$large-device-width: 1199px; // desktops < 1199px
$medium-device-width: 991px; //tablets < 991px
$small-device-width: 767px; // landscape phones < 767px
$extra-small-device-width: 575px; // phone < 576px

// icons

//icons-list
