@charset "UTF-8";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700&display=swap");

// utility
// import mixins,functions and variables
@import "utility/variables";
@import "utility/functions";
@import "utility/mixins";

// vendors
// import vender styles like bootstrap,bulma
// @import 'vendors/bulma';

// base
// import basic styles like typography,normalise css, reset css
@import "base/reset";
@import "base/typography";

// layout
// import header,footer,common layouts
@import "layout/layout";
@import "layout/common";
@import "layout/header";
@import "layout/footer";

.light-bold {
    font-weight: 500;
}
.heading-large {
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 5.8rem;
    @include tablet() {
        font-size: 3.8rem;
        line-height: 5.4rem;
    }
    @include mobile() {
        font-size: 2rem;
        line-height: 3.5rem;
    }
}
.card-link-small-text {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4rem;
    @include tablet() {
        line-height: 3.7rem;
    }
    @include mobile() {
        line-height: 2rem;
        font-size: 1.4rem;
    }
    
}
.normal-text {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    @include mobile() {
        font-size: 1.3rem;
        line-height: 2rem;
    }
}
.heading-2 {
    font-weight: bold;
    font-size: 4.0rem;
    line-height: 4.8rem;
    @include mobile() {
        font-size: 2rem;
        line-height: 3rem;
    }
}
.heading-3 {
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 3.9rem;
    @include mobile() {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}
.normal-card-text {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3rem;
    @include mobile() {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }
    
}
.heading-4 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.9rem;
    @include mobile() {
           font-size: 1.8rem;
           line-height: 2rem;
    }
}

#main {
    .hero-section {
        .item {
            background-image: url(../assets/images/cover-img.png);
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 115vh;
            display: flex; 
            padding-bottom: 7.1rem;

            @include tablet() {
                margin-left: auto;
                margin-right: auto;
                min-height: unset;
            }
            @include mobile() {
                background-position: center;
            }
        }
        .profile-img {
            padding-right: 2.3rem;
        }
       
        .design {
            background: rgba(256,256,256,0.2);
            width: 124px;
            height: 54px;
            padding: 1.5rem 3.3rem 1.7rem 3rem;
            border-radius: 500px;
            margin-bottom: 38.9px;
            @include tablet {
                margin-bottom: 27.9px;
            }
            @include mobile {
                width: 115px;
                height: 42px;
                padding: 1rem 3.5rem 1rem 3.5rem;
                border-radius: 500px;
            }
        }
        .item-inside {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-left: auto;
            margin-right: auto;
            flex-direction: column;
            margin-top: 290px;

            @include tablet() {
                margin-top: 232px;
                margin-left: 66px;
            }
            @include mobile() {
                margin-left: 37px;
            }
            h3 {
                max-width: 748px;
                margin-bottom: 50.1px;
                @include mobile() {
                    max-width: 302px;
                    margin-bottom: 28.1px;
                }
            }
        }
        .profile {
            display: flex;
            align-items: center;
            margin-bottom: 2.4rem;
            p + p {
                margin-top: 6.59px;
            }
            .profile-img {
                img {
                    @include mobile() {
                        height: 50px;
                        width: 50px;
                    }
                }
            }
        }
        .owl-dots button.owl-dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: inline-block;
            background-color: rgba(256,256,256,0.2);
            @include mobile() {
                width: 8px;
                height: 8px;
            }
        }
        .owl-dots button.owl-dot.active {
          background-color: white;
          width: 12px;
          height: 12px;
        }
        .owl-dot + .owl-dot {
            margin-left: 16px;
        }       
        .owl-dots button.owl-dot:focus {
          outline: none;
        }
        .owl-dots {
            position: absolute;
            transform: translateX(-50%);
            bottom: 81px;
            left: 50%;
            bottom: 8%;;
            @include tablet() {
                bottom: 9%;
            }
        }
    }
    .links-section {
        padding-top: 126px;
        padding-bottom: 124px;
        @include tablet() {
            padding-bottom: 87px;
        }
        @include mobile() {
            padding-top: 70px;
            padding-bottom: 70px;
        }
        .link-card {
            height: 408px;
            border: 2px solid #F5F6FA;
            border-radius: 15px;
            background: #FFFFFF;
            padding: 6.0rem 7.3rem 6.6rem 7.3rem;
            margin-bottom: 47px;
           
            @include mobile() {
                padding: 2rem 2.2rem 2.2rem 2.2rem;
                height: unset;
                margin-bottom: 35px;
            }
            .link-card-body {
                display: flex;
                .link-card-body-right {
                        h3 {
                            max-width: 499px;
                        }        
                }
            }
            .link-card-body-left {
                padding-right: 28px;
    
                img {
                    height: 77px;
                    width: 77px;
                    @include mobile() {
                        height: 55px;
                        width: 107px;
                    }
                }
            }
            .link-card-body-right {
                h3 {
                    margin-bottom: 36.91px;
                    @include mobile() {
                        margin-bottom: 20.91px;
                        max-width: 100%;
                    }
                }
            }
            &:hover {
                box-shadow: 0px 54px 50px rgba(67, 67, 68, 0.0705882);
            }
            .link-card-links {
                p {
                    @include mobile() {
                        padding-right: 2.8rem;
                    }
                }
                p + p {
                    padding-left: 5.8rem;
                }
                 .podcast {
                    padding-left: 2.3rem; 
                }
                .videos {
                    padding-left: 2.4rem; 
                }
            }
            .link-card-top {
                display: flex;
                justify-content: space-between;
                margin-bottom: 41.09px;
                align-items: center;
                white-space: nowrap;
                @include mobile() {
                    margin-bottom: 1.8rem;
                }
            }
         
        }
        .likes {
            background-color: $sky-blue;
            height:36px;
            border-radius: 500px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 6.09px 17.24px 7.91px 11px;
            @include mobile() {
                width: 64px;
                height: 32px;
            }
                .heart {
                    height: 24px;
                    width: 24px;
                    @include mobile() {
                        height: 20px;
                        width: 20px;
                    }
                    img {
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            
        }
        .img-card{
            height: 408px;
            margin-bottom: 4.7rem;
            &:hover {
                box-shadow: 0px 54px 50px rgba(67, 67, 68, 0.0705882);
            }
            @include mobile() {
                flex-direction: column;
                flex-wrap: wrap;
                margin-bottom: 31px;
                height: unset;
            }
            .img-card-body {
                padding: 6.7rem 8.8rem 6.9rem 7.5rem;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                border-right: 2px solid #f5f6fa;
                border-top: 2px solid #f5f6fa;
                border-bottom: 2px solid #f5f6fa;
                flex-grow: 1;
                .likes {
                    margin-left: 111px;
                    @include mobile() {
                        margin-left: 92px;
                    }
                }
                @include mobile() {
                   padding: 2rem 2.2rem 2.2rem 2.2rem;
                   border-radius: 15px;
                }
            }
            .img-card-left {
                max-height: 408px;
                @include mobile() {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 2rem;
                }   
                img {
                    @include mobile() {
                        max-width: 100%;
                        height: 330px;
                    }
                }             
            }
            .img-card-header {
                p + p {
                    margin-left: 2.3rem;
                    white-space: nowrap;
                }
            }
            .img-card-details {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 34.77px;
                @include mobile() {
                    margin-bottom: 1.8rem;
                }
            }
            .img-card-header {
                display: flex;
                align-items: center;
            }
    
            .img-card-content {
                p {
                    max-width: 333px;
                    margin-bottom: 31.41px;
                    @include mobile() {
                        margin-bottom: 2rem;
                        max-width: 100%;
                    }
                }
                h4 {
                    margin-bottom: 31.32px;
                    @include mobile() {
                        margin-bottom: 1.5rem;
                    }
                }
                a {
                    &::after {
                        background-image: url(../assets/images/icons/icon-arrow-right.svg);
                        content: "";
                        height: 19.47px;
                        width: 19.86px;
                        background-size: cover;
                        margin-left: 14px;
                        position: relative;
                        top: 4px;
                        display: inline-block;
                        @include mobile() {
                            height: 13.47px;
                            width: 14.86px;
                            top: 2px;
                        }
                    }
                    &:hover {
                        text-decoration: none;
                        color: $light-blue;
                    }
                }
            }
            .img-card-likes-wrap {
                display: flex;
                align-items: center;
    
                .likes {
                    margin-left:1.9rem;
                }
                p {
                    white-space: nowrap;
                }
                margin-left: 100px;
            }
    
            
        }
    
        .pagination-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 14px;
            .pagination {
                .page-item {
                    .page-link {
                        border: 2px solid #F5F6FA;
                        border-radius: 15px;
                        padding: 17.31px 21.16px 17px 21px;
                    }
                    img {
                        height: 15.69px;
                        width: 7.84px;
                        @include mobile() {
                            height: 11.69px;
                            width: 5.84px;
                        }
                    }
                    a {
                        font-weight: 600;
                        font-size: 2.2rem;
                        line-height: 2.7rem;
                        color:$dark-gray;
                        height: 50px;
                        width:  50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @include mobile() {
                            height: 39px;
                            width: 37px;
                            font-size: 1.6rem;
                            line-height: 1.5rem;
                        }
                    }
                   &.active {
                       a {
                           color: white;
                           background-color: $light-blue;
                           border: 0;
                       }
                   } 
                }
                .page-item + .page-item {
                    padding-left: 10px;
                }
            }
        }

        .newsletter-wrap {
            @include tablet() {
                margin-top: 66px;
                margin-bottom: 45.03px;
            }
            h4 {
                margin-bottom: 25.88px;
            }
            margin-bottom: 74.03px;
            input[type=email] {
                width: 348px;
                height: 66px;
                border: 2px solid #F5F6FA;
                padding: 19px 23px 24.5px 23px;
                margin-bottom: 2.0rem;
                border-radius: 10px;
                @include tablet() {
                    width: 100%;
                    height: 51px;
                    padding: 13px 20px 13px 20px;
                }
            }
            input:focus {
                outline: none;
            }
            ::placeholder, ::-webkit-input-placeholder {
                font-weight: 500;
                font-size: 2rem;
                line-height: 2.4rem;
                color:$light-gray;
                @include mobile() {
                    font-size: 1.3rem;
                    line-height: 2rem;
                }
            }
            a {
                padding: 20px 147px 22px 147px;
                margin-bottom: 25.09px;
                @include mobile() {
                    padding: 15px 147px 15px 147px;
                }
                &:hover {
                    color: white;
                }
            }
        }

        .popular-posts {
            h4 {
                margin-bottom: 48.8px;
                @include mobile() {
                    margin-bottom: 25.88px;
                }
            }
            .post {
                .post-img {
                    padding-right: 21.53px;
                    img {
                        @include mobile() {
                            height: 65px;
                            width: 65px;
                        }
                  }
                }
                .post-content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    h4 {
                        margin-bottom: 13.55px;
                        white-space: nowrap;
                        @include mobile() {
                             margin-bottom: 5.55px;
                        }
                    }
               
                .post-time-details  {
                    
                    p + p {
                        margin-left: 23px;
                    }
                  }
                
                }

            }
            .post + .post {
                margin-top: 3.9rem;
            }
        }
    }
    .cta-section {
        padding: 109px 0px 125px 0px;
        @include mobile() {
            padding: 62px 0 62px 0;
        }
        h3,p{
            text-align: center;
        }
        h3 {
            margin-bottom: 37px;
            @include mobile() {
                margin-bottom: 28px;
            }
        }
        p {
            margin-bottom: 47px;
            @include mobile() {
                margin-bottom: 38px;
            }
        }
        input[type=email] {
            background: #FFFFFF;
            border-radius: 10px;
            width: 531px;
            height: 66px;
            border: none;
            padding: 19px 25.5px 23px 25.5px;
            @include mobile() {
                margin-bottom: 2rem;
                max-width: 100%;
                padding: 13px 20px 13px 20px;
                height: 51px;
            }
        }
        input:focus {
            outline: none;
        }
        ::placeholder, ::-webkit-input-placeholder {
            font-weight: 500;
            font-size: 2rem;
            line-height: 2.4rem;
            color:$light-gray;
            @include mobile() {
                font-size: 1.3rem;
                line-height: 2rem;
            }
          
        }
        .subscribe {
            display: flex;
            justify-content: center;
            
            @include mobile() {
                flex-direction: column;
                flex-wrap: wrap;
            }
            a {
                padding: 20px 58px 22px 56px;
                margin-left: 31px;
                @include mobile() {
                    padding: 15px 58px 15px 56px;
                    margin-left: 0px;
                    max-width: 100%;
                }
                &:hover {
                    color: white;
                }
            }
        }
    }
}