<div id="main">
    <section class="hero-section">
        <div class="hero-section-wrapper">
            <div class="row">
                <div class="owl-carousel" id="hero-section">
                    <div class="item">
                        <div class="item-inside">
                            <div class="design normal-text">
                                <p class="normal-text text-white">Design</p>
                            </div>
                            <h3 class="heading-large text-white">
                                How to start working remotely as a designer in
                                2020
                            </h3>
                            <div class="profile d-flex">
                                <div class="profile-img">
                                    <img src="assets/images/profile-img.png" />
                                </div>
                                <div class="profile-details">
                                    <p class="card-link-small-text text-white">
                                        Sergei Filatov
                                    </p>
                                    <p class="normal-text text-light-gray">
                                        14th May
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inside">
                            <div class="design normal-text">
                                <p class="normal-text text-white">Design</p>
                            </div>
                            <h3 class="heading-large text-white">
                                How to start working remotely as a designer in
                                2020
                            </h3>
                            <div class="profile d-flex">
                                <div class="profile-img">
                                    <img src="assets/images/profile-img.png" />
                                </div>
                                <div class="profile-details">
                                    <p class="card-link-small-text text-white">
                                        Sergei Filatov
                                    </p>
                                    <p class="normal-text text-light-gray">
                                        14th May
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inside">
                            <div class="design normal-text">
                                <p class="normal-text text-white">Design</p>
                            </div>
                            <h3 class="heading-large text-white">
                                How to start working remotely as a designer in
                                2020
                            </h3>
                            <div class="profile d-flex">
                                <div class="profile-img">
                                    <img src="assets/images/profile-img.png" />
                                </div>
                                <div class="profile-details">
                                    <p class="card-link-small-text text-white">
                                        Sergei Filatov
                                    </p>
                                    <p class="normal-text text-light-gray">
                                        14th May
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inside">
                            <div class="design normal-text">
                                <p class="normal-text text-white">Design</p>
                            </div>
                            <h3 class="heading-large text-white">
                                How to start working remotely as a designer in
                                2020
                            </h3>
                            <div class="profile d-flex">
                                <div class="profile-img">
                                    <img src="assets/images/profile-img.png" />
                                </div>
                                <div class="profile-details">
                                    <p class="card-link-small-text text-white">
                                        Sergei Filatov
                                    </p>
                                    <p class="normal-text text-light-gray">
                                        14th May
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="links-section">
        <div class="container">
            <div class="links-section-wrapper">
                <div class="page1">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="link-card">
                                <div class="link-card-top d-flex">
                                    <div class="link-card-links d-flex">
                                        <p class="normal-text text-light-blue">
                                            Links
                                        </p>
                                        <p class="normal-text text-light-gray">
                                            17th May
                                        </p>
                                    </div>
                                    <div class="likes">
                                        <div class="heart">
                                            <img src="assets/images/icons/heart.svg" class="img-fluid">
                                        </div>
                                        <p class="text-light-blue normal-text">76</p>
                                    </div>
                                </div>
                                <div class="link-card-body d-flex">
                                    <div class="link-card-body-left d-flex">
                                        <img src="assets/images/icons/link.svg" class="img-fluid" />
                                    </div>
                                    <div class="link-card-body-right">
                                        <h3 class="heading-2">
                                            An app that was created to help you
                                            find lost items!
                                        </h3>
                                        <p class="card-link-small-text text-light-gray">www.plumweb.ru/link</p>
                                    </div>
                                </div>
                            </div>
                            <div class="img-card d-flex">
                                <div class="img-card-left">
                                    <img src="assets/images/color-side-img.png" />
                                </div>
                                <div class="img-card-body">
                                    <div class="img-card-details d-flex">
                                        <div class="img-card-header d-flex">
                                            <p class="normal-text text-light-blue">Design</p>
                                            <p class="normal-text text-light-gray">14th May</p>
                                        </div>
                                        <div class="likes">
                                            <div class="heart">
                                                <img src="assets/images/icons/heart.svg" class="img-fluid">
                                            </div>
                                            <p class="text-light-blue normal-text">50</p>
                                        </div>
                                    </div>
                                    <div class="img-card-content">
                                        <h4 class="heading-3">Color palette</h4>
                                        <p class="normal-card-text text-dark-gray">
                                            Each of us has a different favorite
                                            and not so much color so it is worth
                                            starting with it.
                                        </p>
                                        <a href="#" class="card-link-small-text">Read story</a>
                                    </div>
                                </div>
                            </div>
                            <div class="link-card">
                                <div class="link-card-top d-flex">
                                    <div class="link-card-links d-flex">
                                        <p class="normal-text text-light-blue">
                                            Podcasts
                                        </p>
                                        <p class="normal-text text-light-gray podcast">
                                            12th May
                                        </p>
                                    </div>
                                    <div class="likes">
                                        <div class="heart">
                                            <img src="assets/images/icons/heart.svg" class="img-fluid">
                                        </div>
                                        <p class="text-light-blue normal-text">93</p>
                                    </div>
                                </div>
                                <div class="link-card-body d-flex">
                                    <div class="link-card-body-left d-flex">
                                        <img src="assets/images/icons/speaker.svg" class="img-fluid" />
                                    </div>
                                    <div class="link-card-body-right">
                                        <h3 class="heading-2">
                                            An app for tracking sleep without pain and crutches is worth a try
                                        </h3>
                                        <p class="card-link-small-text text-light-gray">– 2hr 15mins</p>
                                    </div>
                                </div>
                            </div>
                            <div class="img-card d-flex">
                                <div class="img-card-left">
                                    <img src="assets/images/side-pic-2.png" />
                                </div>
                                <div class="img-card-body">
                                    <div class="img-card-details d-flex">
                                        <div class="img-card-header d-flex">
                                            <p class="normal-text text-light-blue">Business</p>
                                        </div>
                                        <div class="img-card-likes-wrap">
                                            <p class="normal-text text-light-gray">11th May</p>
                                            <div class="likes">
                                                <div class="heart">
                                                    <img src="assets/images/icons/heart.svg" class="img-fluid">
                                                </div>
                                                <p class="text-light-blue normal-text">49</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-card-content">
                                        <h4 class="heading-3">How to start earning</h4>
                                        <p class="normal-card-text text-dark-gray">
                                            The right priorities help us in the direction of our potential which is why
                                            it is important for earnings.
                                        </p>
                                        <a href="#" class="card-link-small-text">Read story</a>
                                    </div>
                                </div>
                            </div>
                            <div class="link-card">
                                <div class="link-card-top d-flex">
                                    <div class="link-card-links d-flex">
                                        <p class="normal-text text-light-blue">
                                            Videos
                                        </p>
                                        <p class="normal-text text-light-gray videos">
                                            10th May
                                        </p>
                                    </div>
                                    <div class="likes">
                                        <div class="heart">
                                            <img src="assets/images/icons/heart.svg" class="img-fluid">
                                        </div>
                                        <p class="text-light-blue normal-text">87</p>
                                    </div>
                                </div>
                                <div class="link-card-body d-flex">
                                    <div class="link-card-body-left d-flex">
                                        <img src="assets/images/icons/play-btn.svg" class="img-fluid" />
                                    </div>
                                    <div class="link-card-body-right">
                                        <h3 class="heading-2">
                                            A quick guide on how to quickly make a grid for projects
                                        </h3>
                                        <p class="card-link-small-text text-light-gray">– 1hr 55mins</p>
                                    </div>
                                </div>
                            </div>
                            <div class="img-card d-flex">
                                <div class="img-card-left">
                                    <img src="assets/images/side-pic-3.png" />
                                </div>
                                <div class="img-card-body">
                                    <div class="img-card-details d-flex">
                                        <div class="img-card-header d-flex">
                                            <p class="normal-text text-light-blue">Finance</p>
                                            <p class="normal-text text-light-gray">10th May</p>
                                        </div>
                                        <div class="likes">
                                            <div class="heart">
                                                <img src="assets/images/icons/heart.svg" class="img-fluid">
                                            </div>
                                            <p class="text-light-blue normal-text">64</p>
                                        </div>
                                    </div>
                                    <div class="img-card-content">
                                        <h4 class="heading-3">Designing startup</h4>
                                        <p class="normal-card-text text-dark-gray">
                                            The main task of a startup is not to be like others. This requires good
                                            money and an idea.
                                        </p>
                                        <a href="#" class="card-link-small-text">Read story</a>
                                    </div>
                                </div>
                            </div>
                            <div class="pagination-wrap">
                                <nav>
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">
                                                    <img src="assets/images/icons/icon-left-carousal.svg" />
                                                </span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                        <li class="page-item active">
                                            <a class="page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">2</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">3</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">
                                                    <img src="assets/images/icons/icon-right-carousal.svg" /></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="newsletter-wrap">
                                <h4 class="heading-4">
                                    Newsletter
                                </h4>
                                <input type="email" placeholder="Email Address"/>
                                <a href="#" class="btn btn-blue">Subscribe</a>
                                <p class="normal-text text-light-gray">
                                    We’ll never share your details. See our
                                </p>
                            </div>
                            <div class="popular-posts">
                                <h4 class="heading-4">
                                    Popular
                                </h4>
                                <div class="popular-posts">
                                    <div class="post d-flex">
                                        <div class="post-img">
                                            <img src="assets/images/post2.png" alt="post" />
                                        </div>
                                        <div class="post-content">
                                            <h4 class="heading-4">
                                                Forging your path
                                            </h4>
                                            <div class="post-time-details d-flex">
                                                <p class="normal-text text-light-blue">
                                                    Business
                                                </p>
                                                <p class="normal-text text-light-gray">
                                                    29th May
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post d-flex">
                                        <div class="post-img">
                                            <img src="assets/images/post1.png" alt="post" />
                                        </div>
                                        <div class="post-content">
                                            <h4 class="heading-4">
                                                Basics of a proper UI
                                            </h4>
                                            <div class="post-time-details d-flex">
                                                <p class="normal-text  text-light-blue">
                                                    Design
                                                </p>
                                                <p class="normal-text text-light-gray">
                                                    25th May
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post d-flex">
                                        <div class="post-img">
                                            <img src="assets/images/post3.png" alt="post" />
                                        </div>
                                        <div class="post-content">
                                            <h4 class="heading-4">
                                                Planning for change
                                            </h4>
                                            <div class="post-time-details d-flex">
                                                <p class="normal-text  text-light-blue">
                                                    Finance
                                                </p>
                                                <p class="normal-text text-light-gray">
                                                    15th May
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cta-section bg-gray">
        <div class="container">
            <div class="cta-section-wrapper">
                <h3 class="heading-large text-black">Get great articles direct to your inbox</h3>
                <p class="card-link-small-text light-bold text-light-gray">
                    The latest Move news, articles, and resources, sent straight to your
                    inbox every month.
                </p>
                <div class="subscribe d-flex">
                    <input type="email" placeholder="Email Address" />
                    <a href = "#" class="btn btn-blue">Subscribe</a>
                </div>
            </div>
        </div>
    </section>
</div>