@import '../../../node_modules/reset-css/sass/reset';
@import '../base/typography';


:root {
    font-size: 62.5%;
}
html,
body {
    font-size: $font-size-base;
    font-family: 'Inter';
    color: #333333; 
}
body {
    overflow-x: hidden;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}